[submodule "eleventy-site"]
	path = eleventy-site
	url = https://github.com/rmdes/indiekit-eleventy-theme.git
[submodule "plugin-registry"]
	path = plugin-registry
	url = https://github.com/rmdes/indiekit-plugin-registry.git
